.title1{
text-align: center;
}

.pic{
background: url(pic.jpg);
background-repeat: no-repeat;
height: 400px;
width: 400px;
background-size: 100% 100%;
margin: 0 auto;
border: 2px solid red;
}

.summary{
text-indent: 50px;
font-size: 25px;
}

.reviews{
font-size: 25px;	
}

.stats{
font-size: 25px;
}
.comp{
text-align: center;
}

.others{
font-size: 25px;
}

.trailer{
text-align: center;
}